@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: 'Courier New', Courier, monospace;
}

main {
	height: 100vh;
}

@layer base {
	.main-dark {
		background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
		height: 100vh;
		overflow: hidden;
	}

	.main-light {
		background: radial-gradient(ellipse at top, #b6c2ff 0%, #75abe8 100%);
		height: 100vh;
		overflow: hidden;
	}
}

.hvr-grow {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform;
	transition-property: transform;
}
.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
	-webkit-transform: scale(1.25);
	transform: scale(1.25);
}

@layer utilities {
	.hvr-grow-candle {
		box-shadow: 0 0 1px rgba(0, 0, 0, 0);
		-webkit-transition-duration: 0.3s;
		transition-duration: 0.3s;
		-webkit-transition-property: transform;
		transition-property: transform;
	}
	.hvr-grow-candle:hover,
	.hvr-grow-candle:focus,
	.hvr-grow-candle:active {
		-webkit-transform: scale(0.55);
		transform: scale(0.55);
	}

	.hvr-grow-candle-sm {
		box-shadow: 0 0 1px rgba(0, 0, 0, 0);
		-webkit-transition-duration: 0.3s;
		transition-duration: 0.3s;
		-webkit-transition-property: transform;
		transition-property: transform;
	}
	.hvr-grow-candle-sm:hover,
	.hvr-grow-candle-sm:focus,
	.hvr-grow-candle-sm:active {
		-webkit-transform: scale(0.825);
		transform: scale(0.825);
	}

	.hvr-grow-candle-md {
		box-shadow: 0 0 1px rgba(0, 0, 0, 0);
		-webkit-transition-duration: 0.3s;
		transition-duration: 0.3s;
		-webkit-transition-property: transform;
		transition-property: transform;
	}
	.hvr-grow-candle-md:hover,
	.hvr-grow-candle-md:focus,
	.hvr-grow-candle-md:active {
		-webkit-transform: scale(1.1);
		transform: scale(1.1);
	}
}

.typewriter h1 {
	overflow: hidden; /* Ensures the content is not revealed until the animation */
	border-right: 0.15em solid orange; /* The typwriter cursor */
	white-space: nowrap; /* Keeps the content on a single line */
	margin: 0 auto; /* Gives that scrolling effect as the typing happens */
	animation: typing 2s steps(14, end), blink-caret 0.75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
	from {
		width: 0;
	}
	to {
		width: 100%;
	}
}

/* The typewriter cursor effect */
@keyframes blink-caret {
	from,
	to {
		border-color: transparent;
	}
	50% {
		border-color: orange;
	}
}

.hvr-forward {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform;
	transition-property: transform;
}
.hvr-forward:hover,
.hvr-forward:focus,
.hvr-forward:active {
	-webkit-transform: translateX(8px);
	transform: translateX(8px);
}
